---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-family-sans-serif: 'Roboto', sans-serif;

@import "bootstrap/scss/bootstrap-flex.scss";
@import "_navbar.scss";
@import "_jumbotron.scss";
@import "_cards.scss";
@import "_heros.scss";
@import "_content.scss";
@import "_404.scss";
@import "_footer.scss";
