a, a:hover, a:focus { text-decoration: none; }
button, textarea, a:focus { outline: none; }
li { padding: 5px 0; }
main { margin: 25px 0; }
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #ccc; }

*,*:before,*:after { box-sizing:border-box; }

body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  line-height:1.428571429;
  color:#333333;
}

.page { padding: 25px 15% }

img { vertical-align:middle; }
