title: SAFE Network Apps
description: A directory of the most popular SAFE Network apps
markdown: kramdown
url: "https://apps.safenetwork.org"
github: "https://github.com/safenetwork/apps.safenetwork.org"

permalink: /:title/

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md

gems:
  - jekyll-sitemap
  - jekyll-feed

sass:
  sass_dir: /assets/_sass
  style: :compressed

defaults:
  -
    scope:
      path: ''
      type: posts
    values:
      layout: post
