---
layout: default
---

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">SAFE Network apps</h1>
    <p class="lead">Apps that are compatible with the Shared Vault Network.</p>
    <p>
      <a href="https://safenetwork.org/downloads/" class="btn btn-outline-inverse">Download SAFE Browser</a>
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    {% assign shared_vault_network = site.posts | where:"category","Shared Vault" %}
    {% for post in shared_vault_network %}
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <a href="{{ post.url }}">
          <img class="card-img-top img-fluid" src="/thumbnails/{{ post.thumbnail }}" alt="{{ post.title }}">
        </a>
        <h4 class="card-title text-center"><a href="{{ post.url }}">{{ post.title }}</a></h4>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Work in progress</h1>
    <p class="lead">Apps that are still in development.</p>
  </div>
</section>

<div class="container">
  <div class="row">
    {% assign work_in_progress = site.posts | where:"category","WIP" %}
    {% for post in work_in_progress %}
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <a href="{{ post.url }}">
          <img class="card-img-top img-fluid" src="/thumbnails/{{ post.thumbnail }}" alt="{{ post.title }}">
        </a>
        <h4 class="card-title text-center"><a href="{{ post.url }}">{{ post.title }}</a></h4>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
