<header class="navbar navbar-light navbar-full safenetwork-navbar">
  <div class="container">
    <nav>
      <div class="clearfix">
        <button class="navbar-toggler float-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation"></button>
        <a class="navbar-brand hidden-sm-up" href="/">
          SAFE Network apps
        </a>
      </div>
      <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
        <a class="navbar-brand" href="/">SAFE Network apps</a>
        <ul class="nav navbar-nav float-lg-right">
          <li class="nav-item">
            <a class="nav-item nav-link {% if page.title == "Recently updated apps" %}active{% endif %}" href="/">Recently updated apps</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link {% if page.title == "Featured apps" %}active{% endif %}" href="/featured/">Featured apps</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-item nav-link {% if page.title == "Open source apps" %}active{% endif %}" href="/open-source">Open source apps</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-item nav-link " href="/suggest/">Suggest an app</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
</header>
