---
layout: page
---

<div class="container">
  <div class="row" style="margin-bottom: 2rem">
    <div class="col-lg-8">
      <img src="{{ page.thumbnail | prepend: '/thumbnails/' }}" class="thumbnail img-fluid">
    </div>
    <div class="col-lg">
      <div class="list-group">
        {% if page.website %}
          <a class="list-group-item list-group-item-action" href="{{ page.website }}">
            <i class="fa fa-home fa-fw"></i>&nbsp; Website
          </a>
        {% endif %}
        {% if page.twitter %}
          <a class="list-group-item list-group-item-action" href="{{ page.twitter }}">
            <i class="fa fa-twitter fa-fw"></i>&nbsp; Twitter
          </a>
        {% endif %}
        {% if page.forum %}
          <a class="list-group-item list-group-item-action" href="{{ page.forum }}">
            <i class="fa fa-comments fa-fw"></i>&nbsp; Forum
          </a>
        {% endif %}
        {% if page.github %}
          <a class="list-group-item list-group-item-action" href="{{ page.github }}">
            <i class="fa fa-github fa-fw"></i>&nbsp; GitHub
          </a>
        {% endif %}
        {% if page.license_link %}
          <a class="list-group-item list-group-item-action" href="{{ page.license_link }}">
            <i class="fa fa-file-o fa-fw"></i>&nbsp; {{ page.license }} license
          </a>
        {% endif %}
        {% if page.last_update %}
          <a class="list-group-item list-group-item-action" href="{{ page.last_update }}">
            <i class="fa fa-bullhorn fa-fw"></i>&nbsp; Last update on {{ page.date | date_to_string }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="album">
  <div class="container">
    {{ content }}
  </div>
</div>
